# ipython==8.4.0
# ipython-genutils==0.2.0
# ipykernel==6.15.1
# numpy==1.26.4 # run pip3 install Cython numpy beforehand due to release bug
pandas==2.2.2
scikit-learn==1.4.2
torch==2.2.2
torch_geometric==2.5.2
networkx
mypy
pyyaml